.nav {
  background-color: #111;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 68px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #00acee;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin: 20px;
  color: white;
  transition: 0.3s ease all;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Muli', sans-serif;*/
}

.nav-items .nav-item:hover {
  color: #00acee;
  cursor: pointer;
  transition: 0.3s ease all;
}

.nav-item > .active {
  color: #00acee;
  transition: 0.3s ease all;
}

.homepage-container {
  height: 100vh;
  /*
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  */
  /*
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2D3436 74%);
*/
background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  text-align: center;
  padding: 10px;
}

.homepage-container h1 {
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.homepage-container span {
  color: #00acee;
}

.homepage-container .text-content {
  padding-top: 17%;
}

.homepage-container .particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.homepage-container .more-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  width: 200px;
  height: 50px;
  margin: 30px;
  padding: 10px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: 0.3s ease;
}

.homepage-container .more-button:hover {
  color: white;
  cursor: pointer;
  background: #00acee;
  border: 3px solid #00acee;
  transition: 0.3s ease;
}

.about-container {
  padding: 30px;
  background: #FAFAFA;
}

.about-title {
  text-align: center;
  color: black;
  font-size: 55px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.characteristics-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  grid-gap: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.about-pic-skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  width: 100%;
}

.about-picture {
  grid-row: 1;
  grid-column: 1;
  width: 300px;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px grey;
}

.about-pic-skills-container a {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  align-items: center;
  font-size: 15px;
  color: black;
  padding: 1em 2.5em;
  border: 3px solid black;
  text-decoration: none;
  transition: 0.3s ease;
}

.about-pic-skills-container a:hover {
  color: white;
  background: #00acee;
  border: 3px solid #00acee;
  transition: 0.3s ease;
}

.skills {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  padding: 0;
  width: calc(100% - 50px);
}
.skills li {
  display: block;
  position: relative;
  background: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 1500ms ease-in-out;
}
.collapsed .skills li {
  width: 20% !important;
}
.skills li p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}

.about-bio {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  padding: 30px;
}

.projects-container {
  padding-top: 30px;
  background: #EFEFEF;
}

.projects-title {
  text-align: center;
  color: black;
  font-size: 55px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.project-comp-title {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}

.project-comp-img {
  padding: 0 50px;
}

.project-comp-links {
  font-size: 25px;
}

svg {
  display: block;
  width: 100%;
  height: 90px;
}

.contact-container {
  text-align: center;
  background-color: #1b1b1c;
  padding-top: 30px;
}

.contact-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

footer {
  background: black;
  border-top: 3px solid #00acee;
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-button {
  font-size: 40px;
  width: 200px;
  height: 50px;
  margin: 60px;
  padding: 0;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: 0.3s ease;
}

.footer-button:hover {
  color: white;
  cursor: pointer;
  background: #00acee;
  border: 3px solid #00acee;
  transition: 0.3s ease;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  background: black;
}

.social-links i {
  text-align: center;
  color: white;
  font-size: 4em;
  transition: all 0.5s ease;
  padding: 8px;
}

.social-links i:hover {
  color: #00acee;
  text-shadow: 0 0 1px white;
  transition: all 0.2s ease;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .homepage-container .text-content {
    padding-top: 80px;
  } 

  .homepage-container h1 {
    font-size: 15px;
  }

  .homepage-container .more-button {
    font-size: 15px;
    width: 155px;
  }
}