.nav {
  background-color: #111;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 55px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav .nav-content {
  max-width: 900px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav .nav-content .nav-items .nav-item {
  display: inline;
  margin: 20px;
  color: white;
}

.nav-item:hover {
  color: blue;
  cursor: pointer;
}

.nav-item > .active {
  border-bottom: 1px solid white;
}

.homepage-container {
  height: 100vh;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 10px;
}

.homepage-container h1 {
  color: white;
}

.homepage-container span {
  color: pink;
}

.homepage-container .text-content {
  padding-top: 17%;
}

.homepage-container .particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.homepage-container .more-button {
  font-size: 18px;
  width: 200px;
  height: 50px;
  margin: 30px;
  padding: 10px;
  border: 3px solid white;
  color: white;
  background: transparent;
  transition: 0.3s ease;
}

.homepage-container .more-button:hover {
  cursor: pointer;
  background: pink;
  transition: 0.3s ease;
}

.about-grid {
  padding: 30px;
  background: #FAFAFA;
}

.about-title {
  text-align: center;
  color: black;
  font-size: 30px;
}

.about-pic-skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  width: 100%;
}

.about-picture {
  margin: 30px 25%;
  grid-row: 1;
  grid-column: 1;
  width: 300px;
  height: auto;
  border: 5px solid black;
}


.skills {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  padding: 20px;
  width: calc(100% - 50px);
}
.skills li {
  display: block;
  position: relative;
  background: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 1500ms ease-in-out;
}
.collapsed .skills li {
  width: 20% !important;
}
.skills li p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}

.about-bio {
  /*
  grid-row: 3;
  grid-column: 1;
  */
  font-size: 21px;
  padding: 30px;
}

.contact-container {
  text-align: center;
  background: #444;
  padding: 20px;
}

@media screen and (max-width: 850px) {
  .homepage-container .text-content {
    padding-top: 80px;
  } 

  .homepage-container h1 {
    font-size: 15px;
  }

  .homepage-container .more-button {
    font-size: 15px;
    width: 155px;
  }
}